[Unit]
Description=Hyprland session
Documentation=man:systemd.special(7)
Wants=graphical-session-pre.target graphical-session.target
After=graphical-session-pre.target
RefuseManualStop=yes
